#virtualenv
/venv
#build
/build

#config
config/config_files/config_prod.ini
config/config_files/domain_prod.txt
config/sqlite/*
!config/sqlite/.gitkeep

#reports
reports/*
# exception to the rule
!reports/.gitkeep
#pychar metadata
.idea/

.pyc
*.pyo
.cpython
__pycache__/
/test/.pytest_cache